
<div id='sidebar' class='clinician-sidebar'>
  <div class='profile'>
    <img
      src='https://t4.ftcdn.net/jpg/03/83/25/83/360_F_383258331_D8imaEMl8Q3lf7EKU2Pi78Cn0R7KkW9o.jpg'
      alt='profile-pic'
    />

    <div class='name'>{{clinician.firstname}} {{clinician.lastname}}</div>
  </div>
  <ul class='links'>
    <li class='selected'>
      <img src='/icons/home.svg' alt='' class='icon' />
      <a href='/clinician/dashboard'>Patient Trends</a></li>
    <li><img src='/icons/message.svg' alt='' class='icon' /><a
        href='/clinician/comments'
      >Patient Comments</a></li>
    <li><img src='/icons/add.svg' alt='' class='icon' /><a href='#'>Register
        Patient</a></li>
    <li><img src='/icons/logout.svg' alt='' class='icon' /><a
        href='/clinician/logout'
      >Logout</a></li>
  </ul>
</div>