<!DOCTYPE html>
<html>
  <head>
    <title>Diabetes</title>
    <link rel="stylesheet" href="../public/css/diabetes.css" />
    <link rel="stylesheet" href="../public/css/background.css" />
    <link rel="stylesheet" href="../public/css/navbar.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png" />
  </head>
  <body>
    <main>
      <div class="blur blur-1"></div>
      <div class="blur blur-2"></div>
      <div class="blur blur-3"></div>
      <div class="blur blur-4"></div>

      <div class="section" id="diabetes-welcome">
        <div class="navbar">
          <div class="logo">
            <img src="../public/images/icon.svg" alt="" />
          </div>
          <div class="links">
            <ul>
              <li><a href="/">About</a></li>
              <li><a class="selected" href="/diabetes">Diabetes</a></li>
              <li><a href="/patient/login">Login</a></li>
            </ul>
          </div>
        </div>
        <img
          class="support"
          src="../public/images/diabetes/undraw_reading_re_29f8 1.svg"
          alt=""
        />
        <h1>A short summary about diabetes</h1>
        <a class="double-arrow" href="#diabetes-type-1"></a>
      </div>

      <div class="section" id="diabetes-type-1">
        <div class="content">
          <div class="text">
            <div class="">
              <div class="title">Type 1 Diabetes</div>
              <div class="information small">
                <p>
                  Diabetes is a complex condition which arises in patients whose
                  body is unable to maintain healthy levels of glucose, a form
                  of sugar and the main source of energy for our bodies, due to
                  an inability of their bodies to produce sufficient amounts of
                  insulin. Insulin is a hormone released by the pancreas, and
                  which is essential in the process of converting sugars in the
                  bloodstream into energy for our bodies to use. Without
                  sufficient amounts of the hormone, glucose levels in the blood
                  may rise to unhealthy levels and this may cause multiple
                  symptoms and complications in the short and long term.
                  Diabetes cannot be cured, however it is a condition which can
                  be effectively managed with daily care and attention, often
                  without severely impacting a person’s quality of life.
                </p>
              </div>
            </div>
            <a
              href="https://www.healthdirect.gov.au/type-1-diabetes"
              class="link"
            >
              Source for type 1 diabetes
              <img
                src="../public/images/play_circle_filled_black_24dp 1.svg"
                alt=""
              />
            </a>
          </div>
          <div class="image">
            <img
              src="../public/images/diabetes/undraw_indoor_bike_pwa4 1.svg"
              alt="clinician image"
            />
          </div>
        </div>
        <a class="double-arrow" href="#diabetes-type-2"></a>
      </div>

      <div class="section" id="diabetes-type-2">
        <div class="content">
          <div class="">
            <img
              src="../public/images/diabetes/undraw_energizer_re_vhjv 1.svg"
              alt="clinician image"
            />
          </div>
          <div class="text">
            <div class="">
              <div class="title">Type 2 Diabetes</div>
              <div class="information small">
                <p>
                  Type 2 diabetes is a condition in which the body develops a
                  resistance to the normal effects of insulin, and eventually
                  becomes unable to produce enough amounts of insulin, or
                  becomes too resistant to its effects, to maintain healthy
                  glucose levels in the blood.
                </p>
                <p>
                  This type of diabetes has strong genetic and family-related
                  risk factors, and is also associated with a person’s lifestyle
                  choices. The condition may be slowed down or even halted in
                  people by improving their lifestyle choices and increasing
                  physical activity.
                </p>
              </div>
            </div>
            <a
              href="https://www.healthdirect.gov.au/type-2-diabetes"
              class="link"
            >
              Source for type 2 diabetes
              <img
                src="../public/images/play_circle_filled_black_24dp 1.svg"
                alt=""
              />
            </a>
          </div>
        </div>
        <a class="double-arrow" href="#gestational-diabetes"></a>
      </div>

      <div class="section" id="gestational-diabetes">
        <div class="content">
          <div class="text">
            <div class="">
              <div class="title">Gestational Diabetes</div>
              <div class="information small">
                <p>
                  Gestational diabetes is a type of diabetes which may arise in
                  women during pregnancy. The condition usually disappears after
                  the baby is born, however some women will continue
                  experiencing higher levels of glucose in the blood. In the
                  latter case, it may develop into Type 2 diabetes.
                </p>
              </div>
            </div>
            <a
              href="https://www.healthdirect.gov.au/gestational-diabetes"
              class="link"
            >
              Source for Gestational diabetes
              <img
                src="../public/images/play_circle_filled_black_24dp 1.svg"
                alt=""
            /></a>
          </div>

          <div class="">
            <img
              src="../public/images/diabetes/undraw_baby_ja-7-a 1.svg"
              alt="clinician image"
            />
          </div>
        </div>
        <a class="double-arrow" href="#summary"></a>
      </div>

      <div class="section" id="summary">
        <div class="content">
          <div class="">
            <img
              src="../public/images/diabetes/undraw_online_article_re_daq5 1.svg"
              alt="clinician image"
            />
          </div>
          <div class="text">
            <div class="">
              <div class="title">Summary</div>
              <div class="information small">
                <p>
                  Complications arising from diabetes may cause reduction in
                  quality of life and life expectancy and, for the case of type
                  1 diabetes, symptoms may be sudden and potentially
                  life-threatening.
                </p>
                <p>
                  With that being said, the condition can however be effectively
                  managed and negative repercussions minimized with a mix of
                  medical attention, daily care and a healthy lifestyle.
                  Nowadays more often than not patients who get treated for
                  diabetes are able to live out a normal life without having to
                  worry about the more severe symptoms of the condition.
                </p>
              </div>
            </div>
            <a href="https://www.healthdirect.gov.au/diabetes" class="link">
              Click for information
              <img
                src="../public/images/play_circle_filled_black_24dp 1.svg"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
