#welcome img.support {
  height: 30em;
}

#welcome h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  display: flex;
  align-items: center;
  text-align: center;
  width: 60%;
  color: #4c4c4c;
}

@media only screen and (max-width:1200px) {
  #welcome h1 {
      width: 100%;
  }
  #welcome .logo {
      height: 5em;
  }
  .section img {
      height: 23em;
  }
  .section .link img {
      height: 2em;
  }
}

@media only screen and (max-width:500px) {
  #welcome .logo {
      height: 3em;
  }
  .navbar li {
      padding: 0em 0.5em;
  }
  .navbar a {
      font-size: 22px;
  }
  .section {
      height: calc(100vh - 30em);
  }
  .content {
      flex-direction: column;
  }
  .content .text {
      width: 95%;
      align-items: center;
      justify-content: normal;
  }
  .content .text .title {
      font-size: 34px;
      margin-bottom: 0;
      line-height: normal;
  }
  .section img {
      height: 15em;
  }
  .section .link img {
      height: 1.5em;
  }
  .section .text .information {
      display: none;
  }
  .section .text .mobile-information {
      display: block;
      font-family: "Raleway", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: normal;
      color: #8d8e94;
  }
  .section .text .link {
      font-size: 18px;
      z-index: 3;
  }
  #welcome img.support {
      height: 15em;
  }
  #welcome h1 {
      font-size: 19px;
  }
  .double-arrow {
      display: none;
  }

  #connected .content {
    z-index: -1;
  }

  #connected {
    margin-top: 11em;
  }
}