#welcome img.support {
  height: 30em;
}

#welcome h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  letter-spacing: -0.5px;
  text-align: center;
  color: #4c4c4c;
  margin-bottom: 30px;
}

@media only screen and (max-width: 750px) {
  #welcome h1 {
    font-size: 2em;
  }
}
