* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10%;
}

/* NAVIGATION BAR */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.4%;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: 8.6%;
}

.nav-icon {
  width: 22px;
}

.nav-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  color: #4c4c4c;
  font-size: 20px;
  line-height: 23.48px;
}

.nav-profileimg {
  width: 51px;
  height: 51px;
  margin-right: 5%;
}

/* USER INFORMATION */
.profilePhoto {
  text-align: center;
  width: 146px;
  height: 146px;
  margin-left: 29%;
  margin-bottom: 5%;
}

.user-info {
  margin-left: 5.9%;
  margin-right: 5.9%;
  background-color: #8a82ff;
  border-radius: 30px;
  padding: 4.5% 0;

  font-family: "Gill Sans";
  font-style: normal;
  font-size: 15px;
}

.info-el {
  margin-left: 4%;
  margin-bottom: 10px;
  margin-right: 4%;
  position: relative;
}

.info-el:last-child {
  margin-bottom: 0;
}

.info-el__label {
  margin-left: 2.41%;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.info-el__value {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  padding: 3% 5%;
  font-size: 18px;
}

/* EDIT BUTTON */
.edit-btn {
  position: absolute;
  bottom: 10.5%;
  right: 2%;
  padding: 3px 6px;

  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #a39898;
  text-transform: uppercase;
}

.edit-btn:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(83, 83, 83, 0.417);
  border-radius: 10px;
}


#overlay {
  position: fixed;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  align-items: center;
}

#overlay-input-box {
  width: 56em;
  height: 30em;
  background: linear-gradient(180deg, #867ffb 0%, #6861ca 100%);
  border-radius: 1.75em;
  padding: 2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: auto;
}

#overlay-input-box .header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 2.5em;
  height: 2em;
  width: 100%;
}


#overlay-input-box .header img {
  margin-right: 0.25em;
}

#overlay-input-box .input-post-form {
  width: 100%;
  height: calc(100% - 2em);
}

#input-post-form #value-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 1.5em;
}

#input-post-form #value-field * {
  width: 100%;
}


#input-post-form #textarea-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  font-size: 1.5em;
}

#input-post-form #textarea-field * {
  width: 100%;
}


#input-post-form #overlay-buttons {
  width: 100%;
  height: 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#input-post-form #overlay-buttons input {
  /* margin: 0em 1em; */
  padding: 0em;
  text-decoration: none;
  border: none;
  /* font-size: 1.5em; */
  width: 8em;
  height: 2.5em;
  color: white;
  background: #20c5c2;
  border-radius: 4em;
  cursor: pointer;
}

#input-post-form #overlay-buttons .cancel {
  background: #1baba8;
  cursor: pointer;
}


#overlay-input-box {
  width: 90%;
  min-height: 10em;
  height: fit-content;
  padding: 1em;
  display: flex;
  flex-direction: column;
  cursor: auto;
}

#overlay .entry-flex-item {
  /* padding: .5em; */
  border-radius: .5em;
}

#overlay-input-box .header {
  height: fit-content;
  font-size: 1.75em;
}

#overlay-input-box .header p {
  font-size: 0.45em;
}

#overlay-input-box textarea {
  resize: none;
  height: 1.8em;
  line-height: 1.5em;
}

#overlay-input-box #entry-flex-item #value-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  border-radius: 6px;
  border: none;
}

#overlay-input-box #value-field {
  margin: 0.25em 0em;
}

#overlay-input-box #value-field #value-field-anchor {
  width: 100%;
  height: fit-content;
  font-size: 0.5em;
  line-height: 1em;
  margin: 0.5em 0em;
  text-align: left;
}

#overlay-input-box #value-field #overlay-number-input {
  width: 100%;
  height: 1em;
  font-size: 0.5em;
  margin: 0;
  border-radius: 0.75em;
}

#overlay-input-box #textarea-field {
  height: fit-content;
  width: 100%;
}

#overlay-input-box #textarea-field #textarea-anchor {
  width: 100%;
  height: fit-content;
  font-size: 0.5em;
  line-height: 1em;
  margin: 0.5em 0em;
  text-align: left;
}

#overlay-input-box #overlay-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0em;
}
#overlay-input-box #overlay-buttons input {
  
  width: fit-content;
  padding: 0 .95em;
  font-size: .75em;
}