* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
}
body {
    padding: 11% 0;
    position: relative;
  }

.hpwrapper {
  margin: 20px 23px 20px 23px;
}

.welcome-banner {
  display: none;
}

/* .navbar {
    margin: 40px 25px 0 25px;
    align-items: center;
    display: flex
}

.navbar .user-icon {
    margin-left: 230px;
    max-width: 60px
} */

.date {
  margin: 10px 0 10px 0;
}

h1 {
  font-size: 34px;
  color: #4c4c4c;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  color: #8d8e94;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  color: #4c4c4c;
  font-weight: 700;
}

.trends-wrapper {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: 155px 155px;
  grid-auto-rows: 72px;
}

.trends-wrapper .data-box {
  display: grid;
  grid-template-columns: 60px 30px 60px;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  background-image: linear-gradient(45deg, #665fc7, #8880ff);
  color: #fff;
  justify-items: center;
  padding: 5px;
  align-items: center;
}

.trends-wrapper .data-box .tick-cross {
  display: none;
}

.trends-wrapper .data-box .data-type {
  font-size: 13px;
  grid-column: 1/3;
}

.trends-wrapper .data-box .value {
  font-size: 19px;
  grid-column: 1/4;
}

.trends-wrapper .data-box .time {
  font-size: 10px;
  grid-column: 3/4;
}

.trends-wrapper .data-box .percent {
  font-size: 10px;
}

.message-box {
  background: #fff;
  border-radius: 17px;
  padding: 10px 0 10px 10px;
  box-shadow: 2px 3px #00000025;
  height: 85%;
  /* overflow: scroll */
}

.message-box .header {
  display: flex;
}

.message-box .header :first-child {
  margin-right: 10px;
}

.message-box h2 {
  color: #b1b1b6;
  font-size: 18px;
  font-weight: 400;
}

.message-box .clinician-message {
  display: grid;
  grid-template-columns: 40px auto;
  margin-top: 22px;
}

.message-box .clinician-message .message {
  color: #fff;
  font-size: 12px;
  background-image: linear-gradient(45deg, #665fc7, #8880ff);
  grid-column: 1/3;
  border-radius: 11px;
  justify-self: center;
  width: 80%;
  padding: 13px;
}

.message-box img {
  width: 21px;
}

.message-box .date {
  font-size: 12px;
  color: #adadb780;
  display: flex;
  align-items: center;
}

.historical-trends .table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background: #fff;
  border-radius: 17px;
  box-shadow: 2px 3px #00000025;
  padding: 10px 10px 10px 10px;
  justify-items: center;
  height: 85%;
  grid-auto-rows: 15px;
  row-gap: 3px;
  overflow: scroll;
  overflow-x: hidden;
}

.historical-trends :first-child {
  grid-column: 2;
}

.historical-trends #date {
  font-size: 10px;
}

.historical-trends #val {
  font-size: 12px;
}

.historical-trends hr {
  grid-column: 1/6;
  margin: 3px 0 3px 0;
  border-width: 0;
  background-color: #8a82ff;
  height: 1px;
  width: 100%;
}

.social .badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: linear-gradient(180deg, #665fc7, #8880ff);
  border-radius: 17px;
  padding: 20px;
  justify-items: center;
  color: #fff;
  font-size: 11px;
  text-align: center;
  /* overflow: scroll */
}

.social .engagements {
  background-image: linear-gradient(45deg, #665fc7, #8880ff);
  border-radius: 17px;
  padding: 10px;
  display: grid;
  row-gap: 20px;
  align-content: center;
}

.social .engagements .data-box {
  display: flex;
  color: #fff;
  font-size: 20px;
}

.social .engagements :first-child :first-child {
  margin-right: 43px;
}

.social .engagements :nth-child(2) :first-child {
  margin-right: 95px;
}

.league {
  background-image: linear-gradient(45deg, #665fc7, #8880ff);
  border-radius: 17px;
  padding: 10px;
  display: grid;
  grid-template-columns: 25px 110px auto;
  grid-auto-rows: 15px;
  color: #fff;
  font-size: 14px;
  align-items: center;
  column-gap: 10px;
  /* overflow: scroll */
}

.league :first-child {
  grid-column: 2;
}

.league hr {
  grid-column: 1/6;
  margin: 3px 0 3px 0;
  border-width: 0;
  background-color: #fff;
  height: 1px;
  width: 300 px;
}

.league .header {
  font-weight: 700;
}

.league img {
  width: 25px;
}

.league .engagement-val {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .mobile-linebreak {
    display: none;
  }
  .hpwrapper {
    margin: 52px 36px 0 36px;
  }
  .navbar {
    margin: 40px 36px 0 36px;
    align-items: center;
    display: flex;
  }
  .navbar .user-icon {
    display: none;
  }
  .welcome-banner {
    display: block;
    background-image: linear-gradient(-45deg, #665fc7, #8880ff);
    border-radius: 9px;
    padding: 17px;
    width: 93%;
  }
  .welcome-banner :first-child {
    color: #fff;
    font-size: 23px;
    margin-bottom: 5px;
  }
  .welcome-banner :nth-child(2) {
    color: #fff;
    font-size: 17px;
  }
  .trends-wrapper {
    display: grid;
    column-gap: 40px;
    row-gap: 14px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 170px;
  }
  .trends-wrapper .data-box {
    grid-template-columns: 150px 50px;
    grid-template-rows: 42px 30px 30px 20px;
    justify-items: left;
    padding: 10px;
  }
  .trends-wrapper .data-box .tick-cross {
    display: block;
    grid-row: 1/3;
  }
  .trends-wrapper .data-box .data-type {
    font-size: 15px;
    grid-column: 1/3;
  }
  .trends-wrapper .data-box .symbol {
    width: 31px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }
  .trends-wrapper .data-box .value {
    font-size: 30px;
    grid-column: 1/4;
  }
  .trends-wrapper .data-box .time {
    font-size: 14px;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }
  .trends-wrapper .data-box .percent {
    font-size: 14px;
    grid-column: 2;
    justify-self: center;
  }
  .msg-htrends {
    display: grid;
    grid-template-columns: 496px 452px;
    grid-template-rows: 400px;
    margin-bottom: 20px;
    column-gap: 17px;
  }
  .msg-htrends .historical-trends {
    grid-column: 1;
    grid-row: 1;
  }
  .historical-trends h3 {
    margin-bottom: 10px;
  }
  .latest-message h3 {
    margin-bottom: 10px;
  }
  .message-box img {
    width: 35px;
  }
  div.social {
    display: grid;
    grid-template-rows: 272px 163px;
    grid-template-columns: 423px 423px;
    column-gap: 100px;
  }
  div.social .league-section {
    grid-column: 2;
    grid-row: 1/3;
  }
  div.social h3 {
    margin-bottom: 10px;
  }
  div.social section .engagements {
    height: 60%;
  }
  .social .engagements .data-box {
    margin-left: 23px;
  }
  .social .engagements :first-child :first-child {
    margin-right: 115px;
  }
  .social .engagements :nth-child(2) :first-child {
    margin-right: 173px;
  }
  div.social section .badges {
    height: 70%;
  }
  div.social section .league {
    height: 85%;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1900px) {
  .hpwrapper {
    display: grid;
    margin-left: 309px;
    grid-template-columns: 510px 510px 450px;
    grid-template-rows: 182px 240px 446px;
    column-gap: 20px;
  }
  .hpwrapper > .header {
    grid-column: 1/3;
  }
  .navbar {
    display: none;
  }
  .tablet-linebreak {
    display: none;
  }
  .trends-wrapper .data-box .symbol {
    width: 34px;
  }
  .msg-htrends {
    grid-column: 1/3;
  }
  section.social {
    grid-column: 3;
    grid-row: 1/4;
  }
  section.social h3 {
    margin-bottom: 10px;
  }
  section.social div.social {
    grid-template-columns: 440px;
    grid-template-rows: 272px 163px 295px;
    row-gap: 18px;
  }
  div.social .league-section {
    grid-column: 1;
    grid-row: 3;
  }
}
