<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awards</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/patient_awards.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../public/images/favicon.png"
    />
  </head>
  <body>
    <header>
      <h1><- Awards</h1>
    </header>

    <h1 class="heading">Badges</h1>
    <div class="badges">
      <div class="badge">
        <img
          class="badge-img"
          src="http://cdn.ebaumsworld.com/mediaFiles/picture/718392/84890886.jpg"
        />
        <p class="badge-txt">Lost a total of 10 kg</p>
      </div>
      <div class="badge">
        <img
          class="badge-img"
          src="http://cdn.ebaumsworld.com/mediaFiles/picture/718392/84890886.jpg"
        />
        <p class="badge-txt">Run five 3k in two weeks</p>
      </div>
    </div>

    <div class="league">
      <h1>Your League</h1>
    </div>
  </body>
</html>
