<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UserInfo</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/patient_userInfo.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../public/images/favicon.png"
    />
    <script>
      function showChangePWForm() {
        var pwForm = document.getElementById("change-pw-form");
        pwForm.classList.toggle("show");
      }

      function showChangeSNameForm() {
        var sNameForm = document.getElementById("change-screenname-form");
        sNameForm.classList.toggle("show");
      }
    </script>
  </head>

  <body>
    <div class="nav">
      <div class="nav-item">
        <img
          class="nav-icon"
          src="../../public/images/userInfo/hamburgerIcon.jpg"
          alt=""
        />
        <p class="nav-text">User Info</p>
      </div>
      <img
        class="nav-profileimg"
        src="../../public/images/userInfo/profile.jpg"
        alt=""
      />
    </div>

    <!-- Main Profile Photo -->
    <div class="profilePhoto-box">
      <img
        class="profilePhoto"
        src="../../public/images/userInfo/profile.jpg"
        alt=""
      />
    </div>

    <!-- User Information Box -->
    <div class="user-info">
      <div class="info-el">
        <p class="info-el__label">Full Name:</p>
        <div class="info-el__value">Patient's Full Name</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Screen Name:</p>
        <div class="info-el__value">Patient's Screen Name</div>
        <button class="edit-btn" onclick="showChangeSNameForm()">Edit</button>
      </div>
      <div class="info-el">
        <p class="info-el__label">Date of Birth:</p>
        <div class="info-el__value">DOB</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Email:</p>
        <div class="info-el__value">Patient email</div>
      </div>
      <div class="info-el">
        <p class="info-el__label">Password:</p>
        <div class="info-el__value">PW</div>
        <button class="edit-btn" onclick="showChangePWForm()">Edit</button>
      </div>
      <div class="info-el">
        <p class="info-el__label">Clinician Name:</p>
        <div class="info-el__value">Patient's clinician Name</div>
      </div>
    </div>

    <!-- Change Screen Name Popup Box -->
    <div id="change-screenname-form" class="popup">
      <form class="edit-form">
        <h3 class="edit-form__title">Change Screen Name</h3>
        <label class="edit-form__label" for="new-sname">New Screen Name</label>
        <input class="edit-form__input" type="text" id="new-sname
        name="new-sname" />
        <div class="edit-form__btns">
          <input
            class="edit-form__btn btn-update"
            type="submit"
            id="update"
            value="Update"
          />
          <input
            class="edit-form__btn btn-cancel"
            type="button"
            id="cancel"
            value="Cancel"
            onclick="showChangeSNameForm()"
          />
        </div>
      </form>
    </div>

    <!-- Change Password Popup Box -->
    <div id="change-pw-form" class="popup">
      <form class="edit-form">
        <h3 class="edit-form__title">Change Password</h3>
        <label class="edit-form__label" for="old-pw">Old Password</label>
        <input class="edit-form__input" type="text" id="old-pw" name="old-pw" />
        <label class="edit-form__label" for="new-pw">New Password</label>
        <input class="edit-form__input" type="text" id="new-pw" name="new-pw" />
        <label class="edit-form__label" for="confirm-pw"
          >Confirm Password</label
        >
        <input
          class="edit-form__input"
          type="text"
          id="confirm-pw"
          name="confirm-pw"
        />
        <div class="edit-form__btns">
          <input
            class="edit-form__btn btn-update"
            type="submit"
            id="update"
            value="Update"
          />
          <input
            class="edit-form__btn btn-cancel"
            type="button"
            id="cancel"
            value="Cancel"
            onclick="showChangePWForm()"
          />
        </div>
      </form>
    </div>
  </body>
</html>
