<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Info</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/userInfoPage.css" />
</head>

<body>
    <img class="tablet-menu-icon" src="../../public/images/hamburger-menu-icon.svg" alt="">
    <div class="navbar">
        <img src="../../public/images/arrow.svg" alt="">
        <p>Blood Glucose</p>
    </div>

    <div class="wrapper">
        <div class="header">
            <h1>Blood Glucose</h1>
            <h2 class="date">Sunday, 18 March 2022</h2>
        </div>
        <section class="middle-section">
            <section class="graph">
                <h3>Graph</h3>
                <img src="../../public/images/fake-graph.svg" alt="">
            </section>
            <br class="mobile-break">
            <section class="historical-trends">
                <h3>Historical Data</h3>

                <div class="dropdown">
                    <button class="dropbtn">Upload Date</button>
                    <div class="dropdown-content">
                        <a href="#">Today</a>
                        <a href="#">This week</a>
                        <a href="#">This month</a>
                        <a href="#">This year</a>
                    </div>
                </div>
                <div class="table">
                    <img class="icon" src="../../public/images/calendar.svg" alt="">
                    <img class="icon" src="../../public/images/question-mark.svg" alt="">
                    <img class="icon" src="../../public/images/notepad.svg" alt="">

                    <p class="heading">Date</p>
                    <img class="heading" src="../../public/images/blood-glucose-icon.svg"></img>
                    <p class="heading">Comments</p>

                    <hr>
                    <!-- start of 1 record -->
                    <p>15/03/2022</p>
                    <p>7.8 nmo/L</p>
                    <p>The medicines are working exceptionally well</p>
                    <hr>
                    <!-- end of 1 record -->

                </div>
            </section>
        </section>
    </div>
    </div>
    <br>
</body>

</html>