<title>Clinician Dashboard</title>
<link rel="stylesheet" href="../css/dashboard.css" />


<body>
  {{> sidebarClinician firstname="Anjaney" lastname="Mahajan" profile-img="https://this-person-does-not-exist.com/img/avatar-e2ba3bde87eee2ff3addbb339508a07d.jpg"}}
  <main>
