<title>Patient Trends Glucose</title>
<link rel="stylesheet" href="/css/clinican_dashboard.css" />
<link rel='stylesheet' href='/css/clinican_sidebar.css' />


<body>
  {{> sidebarClinician this }}
  <main>

    <section>
    </section>




